a.active.--red {
    border-bottom: 4px solid var(--red-primary-color) !important;
}

.title h1.--red {
    border-bottom: 4px solid var(--red-primary-color) !important;
}

.form input.--red:focus {
    border: 1px solid var(--red-primary-color) !important;
}

.form .btn.--red {
    background: var(--red-primary-color);
}

.tab-header {
    height: 56px;
    width: 100%;
}

.tab-navigation {
    align-items: center;
    border-bottom: 1px solid var(--gray-secondary-color);
    border-top: 1px solid var(--gray-secondary-color);
    display: flex;
    height: 100%;
    justify-content: space-around;
}

.tab-navigation a {
    align-items: center;
    color: var(--text-disabled-color);
    display: flex;
    font-family: var(--font-exo);
    font-size: 12px;
    font-weight: 700;
    height: 100%;
    justify-content: center;
    text-decoration: none;
    text-transform: uppercase;
    width: 100%;
}

.tab-navigation a.active {
    border-bottom: 4px solid var(--blue-primary-color);
    color: var(--text-primary-color);
}

.container {
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 40px 20px 0 20px;
    width: 100%;
}

.title {
    align-items: center;
    border-bottom: 1px solid var(--gray-secondary-color);
    display: flex;
    height: 40px;
    margin: 0 0 30px 0;
    text-transform: uppercase;
    width: 100%;
}

.title h1 {
    border-bottom: 4px solid var(--blue-primary-color);
    color: var(--text-primary-color);
    font-family: var(--font-exo);
    font-size: 15px;
    font-weight: 700;
    height: 100%;
    line-height: 40px;
    padding: 0 30px 0 0;
}

.form {
    width: 100%;
}

.form-control {
    display: flex;
    flex-direction: column;
    margin: 0 0 14px 0;
}

.form label {
    align-items: center;
    color: var(--text-primary-color);
    display: flex;
    font-family: var(--font-exo);
    font-size: 12px;
    font-weight: 700;
    height: 20px;
    margin: 0 0 4px 0;
    text-transform: uppercase;
}

.form input {
    border: 1px solid var(--gray-secondary-color);
    border-radius: var(--border-radius-default);
    color: var(--text-primary-color);
    font-family: var(--font-roboto-condensed);
    font-size: 14px;
    font-weight: 400;
    height: 44px;
    outline: none;
    padding: 0 17px 0 17px;
    transition: border .3s;
    width: 100%;
}

.form input:focus {
    border: 1px solid var(--blue-primary-color);
}

.form input::placeholder {
    color: var(--gray-primary-color);
}

.form .recovery {
    display: flex;
    justify-content: end;
}

.form .recovery a {
    color: var(--gray-primary-color);
    font-family: var(--font-exo);
    font-size: 11px;
    font-weight: 600;
    height: 14px;
    text-decoration: none;
    text-transform: uppercase;
    transition: color .3s;
}

.form .recovery a:hover {
    color: var(--blue-primary-color);
}

.form .btn {
    background: var(--blue-primary-color);
    border: none;
    border-radius: 44px;
    color: var(--white-color);
    cursor: pointer;
    font-family: var(--font-exo);
    font-size: 12px;
    font-weight: 700;
    height: 44px;
    line-height: 0;
    margin: 20px 0 0 0;
    outline: none;
    text-transform: uppercase;
    width: 100%;
}

@media screen and (min-width: 420px) {
    .tab-navigation a {
        font-size: 13px;
    }
}

@media screen and (min-width: 480px) {
    .container {
        padding: 40px 50px 0 40px;
    }

    .title h1 {
        font-size: 16px;
    }
}