:root {
    --alert-blue-primary-color: #1d7dc8;
    --alert-blue-secondary-color: #1c95f3;
    --alert-blue-tertiary-color: #eff6ff;
    --alert-red-primary-color: #e24747;
    --alert-red-secondary-color: #f87171;
    --alert-red-tertiary-color: #fef2f2;
    --alert-green-primary-color: #3cc36d;
    --alert-green-secondary-color: #4ade80;
    --alert-green-tertiary-color: #f0fdf4;
    --background-color: #fff;
    --blue-primary-color: #1c95f3;
    --gray-primary-color: #777d7f;
    --gray-secondary-color: #dbdbdb;
    --white-color: #fff;
    --text-disabled-color: #8e9597;
    --text-primary-color: #363636;
    --font-exo: 'Exo', sans-serif;
    --font-roboto-condensed: 'Roboto Condensed', sans-serif;
    --border-radius-default: 6px;
}

*,
*::before,
*::after {
    -webkit-tap-highlight-color: transparent !important;
    box-sizing: border-box;
    text-rendering: optimizeLegibility !important;
}

body {
    background: var(--background-color);
}

.alert--success {
    background: var(--alert-green-tertiary-color) !important;
    border-left: 5px solid var(--alert-green-secondary-color) !important;
    color: var(--alert-green-primary-color) !important;
}

.alert--danger {
    background: var(--alert-red-tertiary-color) !important;
    border-left: 5px solid var(--alert-red-secondary-color) !important;
    color: var(--alert-red-primary-color) !important;
}

.alert {
    background: var(--alert-blue-tertiary-color);
    border-left: 5px solid var(--alert-blue-secondary-color);
    color: var(--alert-blue-primary-color);
    font-family: var(--font-roboto-condensed);
    font-size: 15px;
    font-weight: 400;
    margin: 18px 0 0 0;
    padding: 18px 0 18px 20px;
    width: 100%;
}

.app-container {
    margin: 80px auto 90px;
    padding: 0 10px 0 10px;
    width: 100%;
}

@media screen and (min-width: 320px) {
    .app-container {
        max-width: 620px;
    }
}

@media screen and (min-width: 420px) {
    .app-container {
        padding: 0 30px 0 30px;
    }
}